@use '../variables' as variables;
@use '../components/responsive';

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

a {
  color: variables.$text-color;

  &:hover {
    color: variables.$text-hover-color;
  }
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Body custom styles */
body {

  margin: auto;
  font-family: variables.$font-family;
  font-size: variables.$font-size;
  padding: 0 5% 0 5%;
}