



/* Variables */
$max-width: 1440px;
$font-family: "Montserrat", sans-serif;
$font-size: 14px;
$banner-image: url('src/assets/images/plage.png');
$primary-color: #ff6060;
$text-color: black;
$text-hover-color: $primary-color;

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

a {
  color: $text-color;

  &:hover {
    color: $text-hover-color;
  }
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Body custom styles */
body {
  max-width: $max-width;
  margin: auto;
  font-family: $font-family;
  font-size: $font-size;
  display: flex;
  justify-content: center;
}




/* Media Query for Mobile Responsiveness */
@media (max-width: 768px) {
  *{
    margin: auto;
  }
  .navbar {
    justify-content: center;
  
  }
  .navbar img{
    width: 150px;
  }
  
  .banner{
    margin:0 10px 0 10px;
  }
  .banner__title{
    font-size: 24px;
    padding-left: 10px;
  height: 110px;
  
  }
.logo_footer img{
font-size: 30px;
    
  }
  .footer__close {
    font-size: 16px;
  }
  
}