@use '../variables' as variables;

.footer_container {
max-width: 1440px;
  margin: 0;
  height: 20vh;
  background-color: black;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_footer {
  width: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.footer__close {
  font-family: variables.$font-family;
  font-weight: 500;
  font-size: 24px;
  color: white;
}

/* Responsive styles for max-width 768px */
@media (max-width: 768px) {
  .footer_container {
    height: 30vh;
  }

  .logo_footer img {
    width: 133px;
  }

  .footer__close {
    width: 26%;
    font-size: 12px;
    padding-left: 25px;
  }
}