/* Navbar */
@use '../variables' as variables;
.navbar {
  max-width: variables.$max-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img{
  margin-left: -15px;
}

a img {
  width: 210px;
  height: 68px;

}

.navbar__link {
  display: flex;
  gap: 20px;
  color: #ff6060;
  font-size: 24px;
}

.navbar__link a,
.navbar__link .active {
  text-decoration: none;
  outline: none;
}

/* Style du lien actif */
.navbar__link .active {
  color: #ff6060;
  border-bottom: #ff6060 2px solid;
}

/* Responsive styles for max-width 768px */
@media (max-width: 768px) {
  .navbar__link a {

    gap: 5px;
    font-size: 12px;
  }

  .navbar img {
    width: 125px;

    margin-left: -9px;
  }
}