@use '../variables' as variables;

/* Responsive styles for max-width 768px */
@media (max-width: 768px) {
 
  body {
    font-size: 12px; 
    padding: 0 10px;
  }
 
  
  

  .about {
    height: 150px; 
  }
}