$font-family: 'Montserrat', sans-serif;
$font-size: 16px;
$font-size-mobile: 14px;
$max-width: 1200px;
$text-color: #333;
$text-hover-color: #555;
$banner-image: url('../assets/images/plage.png');
$primaryColor: #ff6060;